<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Главная страница</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2">
    <p><h4>Главная страница</h4>
    <br>
    <p><a href="customers" class="btn btn-primary btn-sm mb-3">реестр клиентов банка</a></p>
    <p><a href="transaction" class="btn btn-primary btn-sm mb-3">реестр транзакций</a></p>
</div>
</body>
</html>