<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <title>реестр транзакций</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2">

    <p><h4>реестр транзакций</h4>
    <p>
    <h3>фильтр реестра</h3>

    <form th:method="POST" th:action="@{/transaction}">
        <p>
            <label for="customerFamily">Фамилия владелеца счета</label>
            <input type="text" id="customerFamily" name="customerFamily" placeholder="Фамилия"/>

            <!--<label for="dataStart">Дата периода от </label>
            <input type="text" id="dataStart" name="dataStart" placeholder="ГГГГ-ММ-ДД"/>

            <label for="dataFinish">Дата периода до</label>
            <input type="text" id="dataFinish" name="dataFinish" placeholder="ГГГГ-ММ-ДД"/>-->
        </p>
        <p>
            <input type="submit" value="Применить фильтр" class="btn btn-success btn-sm mb-3"/>
    </form>
    <p><a href="transaction" class="btn btn-primary btn-sm mb-3">Сбросить фильтр</a></p>

    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>ID</th>
            <th>Текущий счет</th>
            <th>Владелец счета</th>
            <th>Дата совершения операции</th>
            <th>Тип операции</th>
            <th>Сумма операции</th>
            <th>Баланс текущего счета</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction : ${transactionList}">
            <td th:text="${transaction.id}"></td>
            <td th:text="${transaction.numberAccount}"></td>
            <td th:text="${transaction.FIO}"></td>
            <td th:text="${transaction.dateOperation}"></td>
            <td th:text="${transaction.typeOperation}"></td>
            <td th:text="${transaction.sumOperation}"></td>
            <td th:text="${transaction.ballansAccountCorect}"></td>
        </tr>
        </tbody>
    </table>
    <p>

        <br/>
        <a href="/" class="btn btn-primary btn-sm mb-3"> вернуться на главную страницу </a>
        <br/>
    </p>
</div>
</body>
</html>