<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <title>Операции со счетом клиента</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2">


    <p>
    <h3>Перевод денежных средств на другой счет</h3>

    <form th:method="POST"
          th:action="@{/customer/{customerId}/transfer/{accountId}(accountId=${account.id}, customerId=${customerId})}">

        <p><label for="anotherNumberAccount">Укажите номер счета на который будет осуществлен перевод</label></p>

        <p><input type="text" id="anotherNumberAccount" name="anotherNumberAccount" required/></p>


        <p><label for="summa">Введите сумму</label></p>
        <p><input type="number" id="summa" name="summa" required min="0.00" max="${account.ballansAccount}"
                  step="0.01"/></p>
        <br>
        <p><input type="submit" value="Выполнить операцию" class="btn btn-success btn-sm mb-3"/></p>

        <p><a th:href="@{/customer/{customerId}/accounts(customerId=${customerId})}"
              class="btn btn-primary btn-sm mb-3">Отменить операцию</a></p>
    </form>
</div>
</body>
</html>